<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Leapstrap - Leap Motion web framework">
<meta name="author" content="Alex Wilkes">
<meta property="og:title" content="Leapstrap" />
<meta property="og:url" content="http://wilkesalex.github.io/leapstrap/" />
<meta property="og:image" content="http://wilkesalex.github.io/leapstrap/docs-assets/img/Leapstrap.jpg" />

<title>
  {% if page.title == "Leapstrap" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Leapstrap
  {% endif %}
</title>

<link href="{{ page.base_url }}dist/css/leapstrap.css" rel="stylesheet">
<link href="{{ page.base_url }}docs-assets/css/docs.css" rel="stylesheet">
<link href="{{ page.base_url }}docs-assets/css/pygments-manni.css" rel="stylesheet">
<!--[if lt IE 9]><script src="{{ page.base_url }}docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script>window.jQuery || document.write('<script src="/dist/js/jquery.js">\x3C/script>')</script>
<script src="//js.leapmotion.com/0.3.0-beta3/leap.js"></script>
<!-- need to find code to localise -->
<!-- <script>window.BaseConnection || document.write('<script src="/dist/js/leap.js">\x3C/script>')</script> -->
<script src="{{ page.base_url }}dist/js/leapstrap.js"></script>
<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}docs-assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="{{ page.base_url }}docs-assets/ico/favicon.png">