<li>
  <a class="leap-interactive" href="#download">Get Leapstrap</a>
  <ul class="nav">
    <li><a class="leap-interactive" href="#download-cdn">Use it now</a></li>
    <li><a class="leap-interactive" href="#download-zip">Download it</a></li>
    <li><a class="leap-interactive" href="#download-git">Github Project</a></li>
    <li>
  <a class="leap-interactive" href="#integrate">Integrate Leapstrap</a>
</li>
  </ul>
</li>

<li>
  <a class="leap-interactive" href="#whats-included">What's included</a>
</li>
<li>
  <a class="leap-interactive" href="#template">Basic template</a>
</li>
<li>
  <a class="leap-interactive" href="#examples">Examples</a>
</li>
<li>
  <a class="leap-interactive" href="#browsers">Browser support</a>
</li>
<li>
  <a class="leap-interactive" href="#accessibility">Accessibility</a>
</li>
<li>
  <a class="leap-interactive" href="#customizing">Customizing Leapstrap</a>
</li>
