<li>
  <a class="leap-interactive" href="#basics">Basics</a>
  <ul class="nav">
  <li><a class="leap-interactive" href="#basics-click">Click</a></li>
    <li><a class="leap-interactive" href="#basics-click-delay">Click Delay</a></li>
    <li><a class="leap-interactive" href="#basics-multitap">Multitap</a></li>
    <li><a class="leap-interactive" href="#basics-event-suppression">Event Suppression</a></li>
    <li><a class="leap-interactive" href="#basics-attractors">Attractors</a></li>
   
  </ul>
</li>
<li>
  <a class="leap-interactive" href="#hands">Hand Gestures</a>
  
</li>
<li>
  <a class="leap-interactive" href="#meta-gestures">Meta Gestures</a>
  <ul class="nav">
  <li><a class="leap-interactive" href="#browser-meta">Browser History</a></li>
    <li><a class="leap-interactive" href="#page-scroll-meta">Page Scroll</a></li>
    
   
  </ul>
</li>
<li>
  <a class="leap-interactive" href="#scrolling">Scrolling</a>
  
</li>
<li>
  <a class="leap-interactive" href="#initialising">Initialising Leap</a>
  
</li>
<li>
  <a class="leap-interactive" href="#leap-options">Leap Options</a>
  
</li>