<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body class="leap-interactive" leap-disable-tap="true" leap-disable-hover="true">
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      
      </div>
    </div>

    <!-- Callout for the old docs link -->
   

    <div class="container bs-docs-container">
      <div class="row">
      
        <div class="col-md-12" role="main">
          {{ content }}
        </div>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        {% include social-buttons.html %}

        <p>Maintained by <a class="leap-interactive" href="http://www.alex-wilkes.com" target="_blank">Alex Wilkes</a>.</p>
        <p>Code licensed under <a class="leap-interactive" href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a class="leap-interactive" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li>Currently v{{ site.current_version }}</li>
          <li class="muted">&middot;</li>
          <li><a class="leap-interactive" href="{{ site.twitter }}">Get help on Twitter</a></li>
          <li class="muted">&middot;</li>
          <li><a class="leap-interactive" href="{{ site.repo }}/issues?state=open">Issues</a></li>
          <li class="muted">&middot;</li>
          <li><a class="leap-interactive" href="{{ site.repo }}/releases">Releases</a></li>
        </ul>
      </div>
    </footer>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
